<div class="login-container">
    <p-toast></p-toast>
    <div class="login-panel p-d-flex p-jc-center p-ai-center">
        <div class="p-fluid">
            <div>
                <img src="../../../assets/img/logo_branca_fundo_transparente (1).png" class="logo">
            </div> 
            <div class="p-field">
                <input [(ngModel)]="emailOrMatricula" name="email" type="email" pInputText placeholder="E-mail / Matrícula" required email #emailRef="ngModel">
            </div>
            <div class="p-field">
                <p-password id="senha" type="password" [feedback]="false" [(ngModel)]="password" placeholder="Senha"/>
            </div>
            <div>
                <a class="link-branco" (click)="esqueciSenha()">Esqueceu a senha?</a>
            </div>
            <div class="button-container">
                <button pButton label="Entrar" (click)="validar()"></button>
                <button (click)="redirectToRegistro()" pButton label="Registre-se"></button>
            </div>
        </div>
    </div>
</div>
