.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-panel {
    width: 340px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
}
.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; /* ou 'space-around' para um espaçamento mais uniforme */

    button {
        margin: 0 5px; /* Adiciona um espaço de 5px entre os botões */
    }
}

.p-field {
    margin-bottom: 30px; /* Adiciona um espaço de 20px abaixo de cada campo */
}

.p-text-center {
    align-items: center;
}