<div class="sucess-container">
    <div class="sucess-panel">
        <div class="conteudo-central">
            <img class="imagem-sucesso" src="assets/img/sucesso.png" alt="imagem de sucesso">
        </div>
        <div class="conteudo-central">
            <label>Cadastro realizado com sucesso!</label>
        </div>
        <div class="conteudo-central">
            <label>Enviamos um link de confirmação para o seu e-mail.</label>
        </div>
        <div class="conteudo-central">
            <button (click)="retornarLogin()" pButton label="Realizar login"></button>
        </div>
    </div>
</div>