<p-toast></p-toast>
<div class="login-container">
    <div class="login-panel p-d-flex p-jc-center p-ai-center">
        <div class="p-fluid">
            <div>
                <img src="../../../assets/img/logo_branca_fundo_transparente (1).png" class="logo">
            </div> 
            <form #form="ngForm" (ngSubmit)="esqueciSenha()">
                <div class="p-field">
                    <input id="email" [(ngModel)]="email" name="email" type="email" required email pInputText placeholder="Digite seu E-mail"/>
                </div>
                <div class="button-container">
                    <button type="submit" pButton label="Enviar E-mail"></button>
                    <button (click)='retornarLogin()' pButton label="Cancelar"></button>
                </div>
            </form>
        </div>
    </div>
</div>
